body{
    font-family: 'PT Sans', sans-serif;

    margin: 0;

    box-sizing: border-box;

    background-color: #000;
    color: #fff;
}

.container{
    max-width: 1270px;

    margin: 0 auto;
}
.content{
    width: 80%;
    margin: 0 auto;
}

a{
    text-decoration: none;

    color: #fff;
}
a:hover{
    text-decoration: underline;
    color: #fff;

}

/*num*/
.number{
    color: gray;

    font-size: 12px;

    display: flex;
    justify-content: space-between;

    margin: 10px 0;
}
.number a{
    color: gray;
}
.number a:hover{
    text-decoration: underline;
    color: #fff;
}
.fa-phone{
    transform: rotate(90deg);

    margin-right: 10px;
}
.number__phone{
    display: flex;
}
.number__num{
    padding-right: 10px;
}
.number__text{
    padding-right: 8px;
    padding-left: 8px;

    border: 1px solid gray;
    border-top: none;
    border-bottom: none;
}


/*header*/
.header{
    background-color: #0F0F0F;
}
.header--head{
    text-transform: uppercase;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 0;
}
.header--head a{
    color: #ccc;
}
.header__link{
    font-size: 14px;
}
.header__link a{
    padding-right: 20px;
}
.header__text{
    font-weight: 400;

    font-size: 28px;
}

/*porten*/
.porten{
    height: 100vh;
    min-height: 500px;

   background: url(image/fon.jpg) center no-repeat;
    background-size: cover;
    

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.porten__content{
 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.porten__title{
    text-transform: uppercase;
    text-align: center;

    border: 3px solid #fff;
    padding: 70px 40px;


}
.porten__por{
    font-size: 46px;
    font-weight: 700;
}
.por{
    width: 160px;
    
    margin: 5px auto;

    
}
.porten__city{
    font-size: 18px;
    font-weight: 400;
}
.porten__text{
    width: 50%;

    font-size: 16px;
    text-align: center;

    padding-top: 50px;
}

/*title*/
.title{
    text-transform: uppercase;
    font-family: 'Playfair Display', serif;
    font-size: 26px;

    padding-top: 50px;
}
/*season*/
.season__flex{
    display: flex;
}
.season__block{
    width: 50%;
    text-align: center;
}
.season__hr{
    width: 100px;
    color: #ccc;

    margin: 30px auto;
}


.season{
    font-family: 'Playfair Display', serif;
}
.season__clock{
    display: flex;
    justify-content: space-around;
}
.seaason__clock__clock{
    width: 26%;

    text-align: left;
}
.clock{
    width: 80%;

    border: 1px solid #191B1C;
    background-color: #191B1C;

    padding: 20px 15px;
}
.season__clock__text{
    font-size: 14px;
    padding: 7px 0;
}
.season__clock__price{
    font-size: 12px;

    padding-bottom: 50px;
}

.man{
    display: flex;
    flex-direction: column;
    justify-content: end;

    background: linear-gradient(0deg, rgba(15, 15, 15, 0.5), rgba(15, 15, 15, 0.5)), url(image/img1.jpg) center no-repeat;
    background-size: cover;
}
.new{
    margin: 10px auto;
}
.season__btn{
    padding: 10px 0 50px 0;
}
.season__btn a{
    font-size: 14px;
    font-weight: 400;
    font-family: 'PT Sans', sans-serif;
    letter-spacing: 0.1em;

    color:  #fff;

    border: 1px solid #fff;
    padding: 5px 10px;
}


/*collection*/
.collections{
    display: flex;
}
.collections__image{
    width: 40%;
}
.collections__image img{
    width: 100%;
}

.collections__text{
    width: 60%;
    text-align: center;
}
.coll{
    margin: 15px  auto;
}
.collection__text__text{
    width: 40%;
    margin: 20px auto;
    font-size: 10px;
    font-weight: 400;
}
.collections__text__btn{
    padding: 20px 0;
}
.collections__text__btn a{
    text-transform: uppercase;

    font-size: 12px;

    border: 1px solid #fff;
    padding: 7px  13px ;
}

/*newcollection*/
.newcollection__clock{
    width: 80%;
    margin: 20px auto; 
}
.newcollection__title{
    text-align: center;
    margin-bottom: 50px;
}


/*brands*/
.brands{
    background-color:   #0F0F0F;
}
.brands__title{
    text-align: center;
}
.newcol{
    width: 23%;
}
.brands__img img{
    display: inline-block;
    text-align: center;
    width: 24%;
    margin: 30px auto
}

/*footer*/
.footer{
    background: linear-gradient(0deg, rgba(15, 15, 15, 0.85), rgba(15, 15, 15, 0.85)), url(image/img4.jpg) center no-repeat;
    background-size: cover;
}

.footer__flex{
    display: flex;
    justify-content: space-between;

    padding-bottom: 30px;
}
.footer__block{
    width: 30%;
}
.footer__title{
    font-size: 18px;
    text-transform: uppercase;

    padding: 40px 0;
}
.footer__text{
    font-size: 12px;

    padding-bottom: 30px;
}

.footer__link a{
    display: inline-block;

    color: gray;
    font-size: 14px;

    border: 1px solid #0F0F0F;
    background-color: #0F0F0F;

    padding: 7px 13px;

    margin: 15px 15px 0 0;
}


input{
    color: #000;
    background-color: rgba(250, 250, 250, 0.5);
    border: none;

    height: 30px;
    
}
.sub{
    height: 35px;
    
    color: #fff;
    background-color: #0F0F0F;

    border: none;

    padding: 10px 20px;
}



/*footer2*/
.footer__tt{
    display: flex;
    justify-content: space-between;
}

.footer__t{
    font-size: 12px;

    padding: 10px 0;
}