body{
    margin: 0;
    font-family: 'PT Sans', sans-serif;
    color: #fff;

    background-color: #000;

}
.header{
    background-color: #0F0F0F;
    
}
.container{
    max-width: 1090px;
    margin: 0 auto;
}
.header__item{
    display: flex;
    justify-content: space-between;

}
.header__title{
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 700;


    padding: 25px 0;

}
.syl{
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    color: #969696;
    padding: 40px 20px;
    font-weight: 700;

}
.syl:hover{
    text-decoration: underline;
}
.img{
    
    background-color:#0F0F0F;
    width: 15px;
    padding: 0 20px;
   
}



/*section*/
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 850px;
    
    background-image: url(fon/fon2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.content__item{
    max-width: 330px;
    border: 5px solid #fff;
    margin: 0 auto;
    

}
.content__pad{
    padding: 100px 68px;
}
.content__title{
    font-size: 64px;
    text-transform: uppercase;
    text-align: center;
}
.hr{
    width: 220px;
    margin: 6px auto;
}
.content__city{
    font-size: 22px;
    text-transform: uppercase;
    text-align: center;

    margin-left: 10px;

}
.content__text{
    max-width: 730px;
    margin: 0 auto;
    text-align: center;

    font-size: 17px;

    margin-top: 80px;
}


/*season*/
.season{
    display: flex;
    
}
.blockseason{
    width: 50%;
    background-color: #000;
}
.season2020{
    display: flex;
    justify-content: space-around;
}
.season__title{
    font-family: 'Playfair Display', serif;


    font-size: 36px;
    text-transform: uppercase;
    text-align: center;

    padding-top: 93px;
}
.hr2{
    width: 120px;
    height: 1px;
    background-color: #fff;


    margin: 50px auto;
}
.season__block{
    max-width: 260px;
}
.season__clock{
    border: 1px solid #191B1C;
    background-color: #191B1C;
}
.clock{
    width: 200px;
    height: 200px;

    padding: 55px 25px;
    max-width: 100%;
}
.clock:hover{
    transform: translate3d(-15px , -15px, 0);

    transition: transform .5s;

}
.season__info{
     font-size: 18px;
    text-transform: uppercase;
    font-family: 'Playfair Display', serif;

    margin: 25px 0 10px 0;

}
.season__price{
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'Playfair Display', serif;

    padding-bottom: 90px;
}


.newcolection{
   width: 50%;

}
.newcolection__fon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 950px;
    height: 730px;
    background: url(fon/fon3.png) center no-repeat;

    box-sizing: border-box;
    padding-top: 70%;
}
.newcolection__title{
    font-family: 'Playfair Display', serif;


    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
}
.newcolection__btn{
    color: #FFF;
    font-size: 18px;
    padding: 10px 20px;
    text-transform: uppercase;

    width: 100px;
    margin: 0 auto;
    border:1px solid #fff;
    text-align: center;
}
.newcolection__btn:hover{
    color: #000;
    background-color: #fff;
    opacity: .7;

    transition: color  .3s, background-color .3s;
}
.hr3{
    width: 120px;
    height: 1px;
    background-color: #fff;


    margin: 25px auto;
}





/*colection2018*/
.season2{
    display: flex;
}
.man{
    width: 40%;
}
.man img{
    width: 880px;
     height: 620px;
    max-width: 100%;
}


.colection2018{
    background-color: #000;
    width: 60%;
   

    text-align: center;
}
.colection2018__title{
    font-size: 36px;
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;

    padding-top: 90px;
}
.colection2018 hr{
    width: 120px;
    margin: 40px auto;

}
.colection2018__text{
    font-size: 14px;
    max-width: 470px;
    margin: 0 auto;
    padding-bottom: 73px;

    

    
}
.colection2018__btn button{
    font-size: 18px;
    background-color: #000;
    color:  #fff;

    border: 1px solid #fff;
    padding: 5px 20px;
    line-height: 2;
}


/*new*/

.new{
    background-color: #000;
    margin: 0;

}
.new__title{
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 120px;
}
.new hr{
    width: 120px;
    

    margin: 30px auto;
}

.new__clock1{
    display: flex;
    justify-content: center;
}
.block3--new{
    margin: 40px 23px 0;
}



/*brands*/
.brands{
    background-color:  #0F0F0F;
    
}
.brands__w{
    width: 80%;
    margin: 0 auto;

}
.brands__title{
    font-family: 'Playfair Display', serif;


    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 40px;

}
.brands hr{
    width: 120px;
    margin: 30px auto;
}
.brands__logo img{
    
    width: 15%;
    margin-bottom: 50px;
    padding-right: 100px;
    
}
.brands__logo img:first-child{
    padding-left: 140px;
}
